div(layout='row', flex='')
  md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left', md-is-locked-open="$media('gt-md')")
    md-toolbar.md-theme-indigo
      h1.md-toolbar-tools Menu
    md-content.md-padding
      md-button.md-primary(ui-sref-active='md-light-green-theme', ui-sref='{{state.name}}', ng-click='navgo(state.name)', ng-repeat='state in states'
      ng-if='state.data.pageTitle != null', style='display: block')
        | {{state.data.pageTitle}}
  md-content(flex='')
    div(layout='column', layout-fill='', layout-align='center center')
      md-toolbar.demo-toolbar.md-light-green-theme
        .md-toolbar-tools
          span.md-flex {{pageTitle}}
      md-content.md-padding.md-default-theme(style='height: 600px; width: 100%')
        section.md-whiteframe-z1(layout='row', layout-sm='column', layout-align='center center')
          md-button.md-accent.md-hue-6(ng-click='toggleLeft()', hide-gt-md='')
            | MENU     
        div(ui-view='main')